name: Deploy
on:
  push:
    tags: [ 'v*' ]

jobs:
  deploy:
    name: Deploy
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Deploy release
        run: ./gradlew publish -x test --no-daemon --stacktrace
        env:
          ORG_GRADLE_PROJECT_username: ${{ secrets.PUBLISH_USER }}
          ORG_GRADLE_PROJECT_password: ${{ secrets.PUBLISH_TOKEN }}
